# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
/*.iml
.vscode
.cache
!*.cache
.settings
!*.settings
.config
!*.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml
dash4.config.local.js

# Node
node_modules
npm-debug.log
yarn-error.log
lerna-debug.log

# Next
.next
.env*.local

# TypeDoc
docs

# allow
!.gitkeep

# build